<h1>Lista de tareas</h1>

<label for="inputTarea">Tarea:</label>
<input type="text" id="inputTarea" (change)="anadir($event)">
<ul>
  @for (tarea of tareasFiltradas(); track tarea){

    <li [class.completada]="tarea.completada">
      <div class="tarea">
        <input
          type="checkbox"
          (change)="modificar(tarea.id)"
          [checked]="tarea.completada">
        {{tarea.titulo}}
      </div>
      <div class="borrar">
        <button (click)="borrar(tarea.id)">Borrar</button>
      </div>


    </li>
  }
</ul>

<p>Número total de tareas: {{tareasFiltradas().length}}</p>
<button
  (click)="filtrar('todas')"
 [class.seleccionado]="filtro() === 'todas'"
  >Ver todas</button
>
<button
  (click)="filtrar('pendientes')"
  [class.seleccionado]="filtro() === 'pendientes'"
  >Ver pendientes</button>

<p>el filtro mostraría {{filtro()}}</p>
